.footer {
    &__top {
        margin-bottom: 74px;
        .row {
            @media screen and (max-width: 991px) {
                row-gap: 24px;
                align-items: center;
            }
        }
        img {
            align-items: left;
            vertical-align: middle;
            @media screen and (max-width: 991px) {
                margin: 0px auto;
                display: block;
            }
        }
    }
    &__list {
        text-align: center;
        &-item {
            font-size: 24px;
            color: var(--dark);
            &-link {
                font-size: 24px;
                color: var(--dark);
            }
        }
    }
    &__copyright {
        margin-bottom: 12px;
        font-size: 14px;
        text-align: center;
    }
    &__info {
        text-align: right;
        @media screen and (max-width: 1200px) {
            text-align: center;
        }
    }
}