.razrab {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 100px;
    &__names {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__tecnologies {
            text-align: right;
            margin: 10px;
            font-weight: 400;
            font-size: 32px;
            display: inline-block;
            span:hover {
                color: #ffb003;
            }
        }
    }
    &__card {
        background-image: url(../img/cards/Default.svg);
        height: 261px;
        width: 501px;
    }
}