.navigation {
    display: flex;
    padding-top: 38px;
    margin-bottom: 72px;
    justify-content: space-between;
    &__list {
        display: flex;
        justify-content: column;
        align-items: center;
        grid-gap: 39px;
        &-item-link {
            font-weight: 500;
            color: #0C2836;
            text-decoration: none;
            font-size: 18px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}