.promo {
    margin-bottom: 100px;
    @media screen and (max-width: 426px) {
        margin-bottom: 170px;
    }
    .row{
        margin-bottom: 30px;
    }
    .sm_pic{
        display: none;
        @media screen and (max-width: 426px) {
            display: block;
            width: 100%;
            margin-bottom: 40px;
        }   
    }
    h1 {
        @media screen and (max-width: 769px) {
            width: 90%;
        }
    }
    px h1 {
        span {
            color: #FFA239;
        }
    }
    p {
        margin-bottom: 262px;
        @media screen and (max-width: 426px) {
            margin-bottom: 30px;
        }
    }
    &-bg {
        height: 628px;
        background-image: url(../../public/promo-pic.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (max-width: 426px) {
            background-image: none;
        }
    }
    &__list {
        li {
            margin-bottom: 8px;
            gap: 12px;
            display: flex;
            align-items: center;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}