    .razrab {
        &__names {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            @media screen and (max-width: 1200px) {
                align-items: center;
            }
            &__tecnologies {
                text-align: right;
                margin: 10px;
                font-weight: 400;
                font-size: 32px;
                display: inline-block;
                span:hover {
                    color: #ffb003;
                }
                @media screen and (max-width: 426px) {
                    font-weight: 300;
                    font-size: 24px;    
                }
            }
        }
        &__card {
            background-image: url(../../../img/cards/Default.svg);
            background-size: contain;
            background-repeat: no-repeat;
            height: 261px;
            @media screen and (max-width: 1200px) {
                background-position: center;
            }
        }
    }