@import "base.scss";
footer{
    color: $color_gray;
    
    .footer__line{
        height: 1px;
        width: 100%;
        background-color: color_gray;
    }
    .footer__group{
        margin-top: 33px;
        margin-bottom: 33px;

    }
    .footer__fond-logo{
        height: 71px;
        
    }
    img{
        height: 53px;
    }
    .footer__element{
        display: flex;
        
    }

    .right-obj{
        justify-content: right;
        text-align: right;
    }
    @media screen and (max-width: $sm) {
        .footer__element{
            justify-content: center;
            text-align: center;
            margin: 10px;

        }


    }
}